@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Condensed.ttf") format("truetype");
}

/* Fonts */
@font-face {
    font-family: "Roboto-BoldCondensed";
    src: url("../fonts/Roboto-BoldCondensed.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto-Condensed";
    src: url("../fonts/Roboto-Condensed.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto-Light";
    src: url("../fonts/Roboto-Light.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto-Thin";
    src: url("../fonts/Roboto-Thin.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto-Regular";
    src: url("../fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto-Black";
    src: url("../fonts/Roboto-Black.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto-Medium";
    src: url("../fonts/Roboto-Medium.ttf") format("truetype");
}
/* End Fonts */

.olControlAttribution {
    font-family: "Roboto";
    background-color: rgba(227, 233, 238, .6);
    -webkit-border-bottom-left-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    -moz-border-radius-bottomright: 4px;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    text-align: center;
}

div.olControlScale {
    font-family: "Roboto";
    left: 15px;
    right: 1150px;
    top: 690px;
    color: white;
    font-size: 12px;
    opacity: 0.95;
    width:100px;
    height:20px;
    font-weight:bold;
    text-align:center;
    border: 0px solid coral;
}

/*ICONOS PERSONALES*/
.layers_icon {
    background-image: url(../images/new_icons/layers.png ) !important;
}

.kml_icon {
    background-image: url(../images/new_icons/google_map_satellite.png ) !important;
}

.map_icon {
    background-image: url(../images/new_icons/map.png ) !important;
}

.html_icon {
    background-image: url(../images/html.png ) !important;
}

.xml_icon {
    background-image: url(../images/xml.png ) !important;
}

.server_icon {
    background-image: url(../images/new_icons/server_database.png ) !important;
}

.google_icon {
    background-image: url(../images/google.png ) !important;
}

.arbol_icon {
    background-image: url(../images/arbol_16.png ) !important;
}

.lupa_icon {
    background-image: url(../images/new_icons/magnifier.png ) !important;
}

.engrane_icon {
    background-image: url(../images/new_icons/cog.png ) !important;
}

.zip_icon {
    background-image: url(../images/new_icons/file_extension_zip.png ) !important;
}

.x-tree-noicon .x-tree-icon-leaf {
    display: none !important;
}

.prona_icon {
    width: 16px;
    height: 16px;
    background-image: url(../images/favicon.png ) !important;
}

.limpiar_icon {
    width: 16px;
    height: 16px;
    background-image: url(../images/new_icons/draw_eraser.png ) !important;
}

.ordenCategorias_icon {
    background-image: url(../images/new_icons/application_side_tree.png ) !important;
}

.ordenLista_icon {
    background-image: url(../images/new_icons/application_side_list.png ) !important;
}

.ordenar_icon {
    background-image: url(../images/new_icons/sort.png ) !important;
}



/**/

#popup_FrameDecorationDiv_0 img, #popup_FrameDecorationDiv_1 img, #popup_FrameDecorationDiv_2 img, #popup_FrameDecorationDiv_3 img, #popup_FrameDecorationDiv_4 img {
    display: none;
}

div.olPopupCloseBox {
    background: url("../images/gmap_ui.png") no-repeat;
    background-position: 0px -334px;
    cursor: pointer;
    top: 10px !important;
    right: 10px !important;
}

div.olFramedCloudPopupContent {
    padding: 10px;
    overflow: auto;
    font-family: Verdana, Tahoma, "DejaVu Sans", sans-serif;
    font-size: 12px;
    top: 5px !important;
    right: 5px;
    bottom: 20px;
    left: 5px !important;
    width: auto !important;
    height: auto !important;
    background: white;
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, 0.298039) !important;
    background-repeat: no-repeat;
    background-position: bottom center;
    box-shadow: 0px 1px 4px -1px rgba(0, 0, 0, 0.298039);
    line-height: 1.5em;
}

div.olFramedCloudPopupContent .title {
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: bold;
}

div.olFramedCloudPopupContent .spacer {
    margin-left: 40px;
}

#popup_FrameDecorationDiv_2 {
    /*width: 100% !important;*/
    width: 100% !important;
    background: url('../images/tail.png') no-repeat center center;
    z-index: 10;
    height: 21px !important;
    bottom: 0px !important;
}

.button-link {
    /*padding: 10px 15px;*/
    /*padding: 2px 2px 2px 2px;
    margin-left:15px;*/
    /*background: #3892d3;*/
    padding: 2px 2px 2px 2px;
    /*background:#dadada;*/
    color: #3892d3;
    /*font-family: Arial;*/
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px #525252;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-decoration: none;
}

.button-link:hover {
    background: #abe0ef;
    border: solid 1px #2A4E77;
    text-decoration: none;
}

.button-link:active {
    -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    background: #2E5481;
    border: solid 1px #203E5F;
}

ol {
    counter-reset: li;
    /* Initiate a counter */
    list-style: none;
    /* Remove default numbering */
    *list-style: decimal;
    /* Keep using default numbering for IE6/7 */
    font: 15px 'trebuchet MS', 'lucida sans';
    padding: 0;
    margin-bottom: 4em;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
}

ol ol {
    margin: 0 0 0 2em;
    /* Add some left margin for inner lists */
}

.rounded-list a {
    position: relative;
    display: block;
    padding: .4em .4em .4em 2em;
    *padding: .4em;
    margin: .5em 0;
    background: #ddd;
    color: #444;
    text-decoration: none;
    border-radius: .3em;
    transition: all .3s ease-out;
}

.rounded-list a:hover {
    background: #eee;
}

.rounded-list a:hover:before {
    transform: rotate(360deg);
}

.rounded-list a:before {
    content: counter(li);
    counter-increment: li;
    position: absolute;
    left: -1.3em;
    top: 50%;
    margin-top: -1.3em;
    background: #87ceeb;
    height: 2em;
    width: 2em;
    line-height: 2em;
    border: .3em solid #fff;
    text-align: center;
    font-weight: bold;
    border-radius: 2em;
    transition: all .3s ease-out;
}

.rectangle-list a {
    position: relative;
    display: block;
    padding: .4em .4em .4em .8em;
    *padding: .4em;
    margin: .5em 0 .5em 2.5em;
    background: #ddd;
    color: #444;
    text-decoration: none;
    transition: all .3s ease-out;
}

.rectangle-list a:hover {
    background: #eee;
}

.rectangle-list a:before {
    content: counter(li);
    counter-increment: li;
    position: absolute;
    left: -2.5em;
    top: 50%;
    margin-top: -1em;
    background: #fa8072;
    height: 2em;
    width: 2em;
    line-height: 2em;
    text-align: center;
    font-weight: bold;
}

.rectangle-list a:after {
    position: absolute;
    content: '';
    border: .5em solid transparent;
    left: -1em;
    top: 50%;
    margin-top: -.5em;
    transition: all .3s ease-out;
}

.rectangle-list a:hover:after {
    left: -.5em;
    border-left-color: #fa8072;
}


/*RECTANGLE LIST IN GRAY*/

.rectangle-list-gray a {
    position: relative;
    display: block;
    padding: .4em .4em .4em .8em;
    *padding: .4em;
    margin: .5em 0 .5em 2.5em;
    background: #ddd;
    color: #444;
    text-decoration: none;
    transition: all .3s ease-out;
}

.rectangle-list-gray a:hover {
    background: #eee;
}

.rectangle-list-gray a:before {
    content: counter(li);
    counter-increment: li;
    position: absolute;
    left: -2.5em;
    top: 50%;
    margin-top: -1em;
    background: #a4a4a4;
    height: 2em;
    width: 2em;
    line-height: 2em;
    text-align: center;
    font-weight: bold;
}

.rectangle-list-gray a:after {
    position: absolute;
    content: '';
    border: .5em solid transparent;
    left: -1em;
    top: 50%;
    margin-top: -.5em;
    transition: all .3s ease-out;
}

.rectangle-list-gray a:hover:after {
    left: -.5em;
    border-left-color: #666666;
}

.x-grid-cell-inner {
    overflow: hidden;
    white-space: normal;
}


/* BOTON DESCARGAR TEMA (ENABLED) */
.button-text {
    background-color: #B71C1C !important;
    opacity: 0.9 !important;
}

.button-text .x-btn-inner-default-toolbar-small{
	background-color: #B71C1C !important;
	color: white !important;
	border-color: #B71C1C !important;
    opacity: 0.9 !important;   
    font-weight: bold; 
}


/* BOTON DESCARGAR TEMA (ENABLED) */
.button-text-disabled {
    background-color: #f5f5f5 !important;
    opacity: 0.9 !important;
}

.button-text-disabled .x-btn-inner-default-toolbar-small{
	background-color: #f5f5f5 !important;
    color: dimgray !important;
    border-color: #d8d8d8 !important;
    opacity: 0.9 !important;
    font-weight: bold;
}


/* DESHABILITAR FLECHA DEL DROPDOWN */
.x-btn-wrap-default-toolbar-small.x-btn-arrow-right:after{
    display: none;
}
